@import "../../../../stylesheets/variables";

.formStellar {
  .form-field {
    width: 100%;
    padding: 18px 0 18px 31px;
    margin: 16px 0 0 0;
    background: none;
    border-radius: 8px;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    color: #ffffff;
    &.active {
      border: 1.5px solid $danger;
    }
  }
  .error {
    font-size: 12px;
    color: $danger;
  }
  .buttonWrapper {
    display: flex;
    margin: 24px 0;
    flex-direction: column;
    width: 100%;
    .submitBtn {
      width: 100%;
      font-size: 18px;
    }
    .buttonArrow {
      width: 100%;
      text-align: center;
      padding: 12px 0;
      font-size: 18px;
    }
  }
}
