.reviews {
    padding: 7em;
    margin-top: 30em;
    .textblockOpinion {
        width: 507px;
    }
    .reviewBlock {
        display: flex;
        justify-content: space-between;
        height: 90vh;
        width: 100%;
    }
}