@import '../../../stylesheets/variables';

.reviews {
    display: block;
    padding: 7em;
    .textblockOpinion {
        max-width: 507px;
    }
    .reviewBlock {
        display: flex;
        justify-content: space-between;
        min-height: 90vh;
    }
}

@media screen and (max-width: $large) {
    .reviews {
        padding: 3em;
        margin: 2em 0;
        .reviewBlock {
            display: block;
            .review {
                max-width: 50em;
            }
        }
    }
}