@import '../../../stylesheets/variables';

.FAQ {
    padding: 7em;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    color: #2405F2;
}

@media screen and (max-width: $medium){
    .FAQ {
        display: block;
        padding: 2em;
    }
}