@import '../../../stylesheets/variables';

.FAQ {
    padding: 128px 162px 0 152px;
    display: flex;
    justify-content: space-between;
    .FAQ-title {
        padding: 0 136px 32px 0;
    }
}

a {
    color: #2405F2;
}

@media screen and (max-width: $extralarge){
    .FAQ {
        display: block;
        padding: 16px;
    }
}