@import '../../../stylesheets/variables';

.features {
    height: 90vh;
    padding: 7em;
    margin-top: 7em;
}

.panelsGrid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto auto auto;
}

.headings {
    text-align: center;
}

.padding {
    padding: 2em;
    width: 25em;
    height: 19.75em;
}

@media screen and (max-width: $breakpoint-tablet) {
    .features {
        padding: 2em;
    }

    .panelsGrid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}