@import "../../../stylesheets/variables";

.work {
  min-height: 661px;
  background-color: #f4f6fc;
  display: flex;
  justify-content: space-around;
  padding: 128px 0 128px 165px;
  color: $darkblue;
}

.howwework {
  max-width: 405px;
}

.panels {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 0 0 142px;
  .panel {
    background-color: #f4f6fc;
  }
  div {
    width: 304px;
  }
}

@media screen and (max-width: 1450px) {
  .work {
    padding: 96px;
  }
}

@media screen and (max-width: $extralarge) {
  .work {
    display: block;
    padding: 16px;
    .panels {
      padding: 32px 0 0 0;
      margin: 0 0 0 0;
    }
  }
}

@media screen and (max-width: $medium) {
  .work {
    display: block;
    .panels {
      display: block;
    }
  }
}
