@import '../../../stylesheets/variables';

.work {
    height: 661px;
    background-color: #F4F6FC;
    display: flex;
    padding: 10.3125em;
    justify-content: space-between;
    color: $darkblue;
}

.howwework {
    min-width: 405px;
}

.panels {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 5em;
    div {
        width: 18.9375em;
        padding: 1em;
    }
}

@media screen and (max-width: 1280px) {
    .work {
        display: block;
        padding: 2em;
    }
}

@media screen and (max-width: 768px) {
    .work {
        display: block;
        .panels {
            display: block;
        }
    }
}