@import '../../stylesheets/variables';


.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px #F4F6FC33;
    border-radius: 41px;
    padding: 1em;
    width: 185px;
    text-align: center;
    cursor: pointer;
    
    &:hover{
        transition: opacity 1s ease-in-out;
        opacity: 0.5;
    }
}

.black {
    color: #1B1C2B;
}

.white {
    color: #F4F6FC;
}

.yellow {
    background-color: $yellow;
}

.darkblue {
    background-color: $darkblue;
}