@import '../../stylesheets/variables';


.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px #F4F6FC33;
    border-radius: 41px;
    padding: 1em;
    width: 185px;
    text-align: start;
    cursor: pointer;
    
    &:hover{
        transition: opacity 1s ease-in-out;
        opacity: 0.5;
    }

    &.primary {
        color: #1B1C2B;
        background-color: $yellow;
        text-align: center;
    }

    &.secondary {
        color: #F4F6FC;
        background-color: $darkblue;
        text-align: center;
    }

    &.withoutBackground {
        background: none;
        text-align: center;
        color: #FFFFFF;
    }

    &.black {
        background: $darkblue;
        color: #FFFFFF;
        text-align: center;
        border: none;
    }

    &.arrowPrimary {
        background: none;
        color: #FFFFFF;
        border: none;
        font-size: 14px;
        padding: 2px;
    }

    &.arrowSecondary {
        background: none;
        color: #000000;
        border: none;
        font-size: 14px;
        padding: 2px;
    }
}
