@import '../../../stylesheets/variables';

.startpage {
    background-color: $tintblue;
    color: $primaryColor;
    padding: 126px 160px 128px 160px;
    .textblock {
        display: flex;
        justify-content: space-around;
        img {
            min-width: 648px;
        }
    }
    div {
        margin-top: 3em;
    }
    .buttons {
        padding: 48px 0 0 0;
        .buttons-button {
            margin-right: 40px; 
        }
    }
}

@media screen and (max-width: 1280px) {
    .startpage {
        padding: 2em;
        .textblock {
            display: block;
            padding: 2em 0;
            img {
                margin: 2em auto;
                max-width: 100%;
                height: auto;
            }
        }
    }
}