@import '../../../stylesheets/variables';

.startpage {
    background-color: $tintblue;
    color: $primaryColor;
    padding: 10em;
    .textblock {
        display: flex;
        justify-content: space-around;
    }
    div {
        margin-top: 3em;
    }
}
