@import "../../../src/stylesheets/variables";

.projectPanel {
  position: relative;
  margin: 0px 32px 32px 0;
  &.secondary {
    max-width: 396px;
    background: transparent;
    background: linear-gradient(
      329.39deg,
      #1c1e53 -10.96%,
      rgba(28, 30, 83, 0.42) 103.96%
    );
  }
  &.max {
    width: 100%;
    background: linear-gradient(
        329.39deg,
        #1c1e53 -10.96%,
        rgba(28, 30, 83, 0.42) 103.96%
      );  
  }
  &img {
    position: relative;
    display: block;
    z-index: -1;
    max-width: fit-content;
  }
  &.projectPanel-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 76px 48px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
}



.hundredpercent {
  min-width: 100%;
}

@media screen and (max-width: $small) {
  .projectPanel {
    .projectPanel-block {
      padding: 12px 12px;
    }
  }
}

@media screen and (max-width: $medium) {
  .projectPanel {
    margin: 16px 16px;
    &img {
      position: relative;
      z-index: -1;
      display: block;
    }
    &.projectPanel-block {
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      &.projectPanel-block-textblock {
        &h6 {
          font-size: 16px !important;
        }
        &p {
          padding: 0;
        }
      }
      &.projectPanel-block-buttonArrow {
        text-align: start;
      }
    }
  }
}

