@import "../../../stylesheets/variables";

.projects {
  color: white;
  display: grid;
  padding: 7em;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item-1 item-2";
  place-items: center;
}

@media screen and (max-width: $extralarge) {
  .projects {
    img {
      max-width: 100%;
      height: auto;
    }
    display: block;
    margin: 0 auto;
    padding: 2em;
  }
}