@import "../../../stylesheets/variables";

.projects {
  padding: 128px 160px;
  .projects-text {
    display: flex;
    justify-content: space-between;
  }
  .grid {
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "item-1 item-2";
    place-items: center;
    .item-1 {
      width: 843px;
      height: 600px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .projects {
    .grid {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 16px;
    }
  }
}

@media screen and (max-width: $extralarge) {
  .projects {
    .grid {
      display: block;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: $medium) {
  .projects {
    padding: 0;
    .grid {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 0;
    }
  }
}
