@import '../../../stylesheets/variables';

.contactus-formdiv {
    padding: 128px 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contactus-formdiv-textblock {
        text-align: center;
        max-width: 562px;
    }
    .contactus-form {
        display: grid;
        place-content: center;
        padding: 55px 76px 69px 74px;
        grid-template-columns: 50% 50%;
        margin: 64px 0;
        font-size: 18px;
        max-width: 1061px;
        p {
            display: flex;
            flex-direction: column;
            margin: 24px 32px 24px 32px;
            font-size: 18px;
            
            input {
                max-width: 438px;
                max-height: 64px;
                padding: 18px;
                color: '#000000';
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 8px;
            }

            textarea {
                width: 100%;
                @extend input
            }
        }
    }
}

@media screen and (max-width: $large) {
    .contactus-formdiv {
        .contactus-form {
            display: block;
        }
    }
}