@import "../../../../stylesheets/variables";

.contactus-formdiv {
  padding: 128px 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contactus-formdiv-textblock {
    text-align: center;
    max-width: 562px;
  }
  .contactus-form {
    max-width: 1061px;
    max-height: 640px;
    padding: 55px 76px 69px 74px;
    .contactus-form-grid {
      display: grid;
      place-content: center;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "name email"
        "subject subject2"
        "message message";
      margin: 64px 0 0 0;
      font-size: 18px;
      .form-field {
        &.active {
          border: 1.5px solid $danger;
        }
      }
      .error {
        color: $danger;
        font-size: 12px;
      }
      p {
        display: flex;
        flex-direction: column;
        margin: 24px 32px 24px 32px;
        font-size: 18px;

        input {
          max-width: 438px;
          max-height: 64px;
          padding: 18px;
          color: "#000000";
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: 8px;
        }
      }

      .message {
        grid-area: message;
        .textarea-field {
          max-width: 908px;
          max-height: 138px;
          padding: 18px;
          color: "#000000";
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: 8px;
          &.active {
            border: 1.5px solid $danger;
          }
        }
      }
    }

    .submitBtn {
      margin: 28px;
    }
  }
}

@media screen and (max-width: $large) {
  .contactus-formdiv {
    padding: 16px;
    .contactus-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 1250px;
      .contactus-form-grid {
        padding: 16px;
        display: block;
        p {
          textarea {
            max-width: 300px;
          }
        }
      }
    }
  }
}
