.contactus-form {
  max-width: 1061px;
  max-height: 640px;
  padding: 55px 76px 69px 74px;
  .contactus-form-grid {
    display: grid;
    place-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "name email"
      "subject subject2"
      "message message";
    margin: 64px 0 0 0;
    font-size: 18px;
    p {
      display: flex;
      flex-direction: column;
      margin: 24px 32px 24px 32px;
      font-size: 18px;
    }

    .message {
      grid-area: message;
    }
  }

  .submitBtn {
    margin: 28px;
  }
}
