@import "../../../stylesheets/variables";

.processwefollow {
  padding: 128px 160px;
  h2 {
    text-align: center;
    margin: 0 0 2em 0;
  }
  .processwefollow-panels {
    display: flex;
    justify-content: space-evenly;
    .processwefollow-panel {
      max-width: 272px;
      padding: 1em;
    }
  }
}

@media screen and (max-width: $extralarge) {
  .processwefollow {
    padding: 64px 80px;
    .processwefollow-panels {
      display: block;
    }
  }
}

@media screen and (max-width: $small) {
  .processwefollow {
    padding: 2em;
  }
}
