$a-tags: "a, a:active, a:visited";
$a-hover: "a:active, a:hover";

$primaryColor: white;

// Colors
$royalblue: #2405f2;
$darkblue: #282938;
$tintblue: #1c1e53;
$yellow: #fcd980;

$small: 600px;
$medium: 768px;
$extralarge: 1200px;
$megalarge: 1450px;
$large: 992px;

$danger: #ff0e0e;
