@import "../../stylesheets/variables";

nav {
  background: $tintblue;
  max-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px 160px;
  .nav-start {
    width: 180px;
  }
  a {
    color: #bbbbcb;
  }
  .navlinks {
    display: flex;
    align-items: center;
  }
}

.navlink {
  a {
    padding: 0 32px 0 0;
  }
}

@media screen and (max-width: $large) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    .bars {
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .navlinks {
      padding: 16px;
      display: none;
      top: 20%;
      flex-direction: column;
      align-items: baseline;
      width: 100%;
      .nav-links {
        flex-direction: column;
      }
      * {
        padding: 16px;
      }
    }
  }
}
