@import "../../stylesheets/variables";

.paneldotted {
  position: relative;
  &:before {
    position: absolute;
    top: 70px;
    left: 80px;
    right: 0;
    bottom: 0;
    border-top: 1px dotted black;
    content: "";
  }
}

@media screen and (max-width: $large) {
  .paneldotted {
    &:before {
      top: 45px;
    }
  }
}
