.question {
    width: 53em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .answer {
        display: flex;
        flex-direction: column;
        padding: 2em;

    }
    
    .number {
        color: #2405F2;
        position: absolute;
        left: 0;
    }

    img {
        cursor: pointer;
        position: absolute;
        right: 0;
    }

}



