.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .answer {
        display: flex;
        flex-direction: column;
        padding: 2em;
        min-width: 30em;

    }
    
    .number {
        color: #2405F2;
        position: absolute;
        left: 0;
    }

    img {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 2em;
        transform: rotate(0deg);
    }

    .activeImg {
        transform: rotate(45deg);
        transition: transform 0.5s ease-in-out;
    }

    .show {
        transform: translateY(-10%);
        height: 0;
        opacity: 0;
    }

    .active {
        margin-top: 2em;
        transform: translateY(0%);
        height: 5em;
        opacity: 1;
        transition: height 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
    }

}



