@import '../.../../../../stylesheets/variables';

.ourblog {
    padding: 7em;
    h1 {
        margin-bottom: 0.5em;
    }
    .blogposts {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: $extralarge) {
    .ourblog {
        padding: 2em;
        .blogposts {
            display: block;
            .blogpost {
                margin: 0 auto;
            }
        }
    }
}
