.ourblog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7em;
    width: 100%;
    h1 {
        margin-bottom: 0.5em;
    }
    .blogposts {
        display: flex;
        justify-content: space-around;
    }
}
